html {
    height: 100%
}

body {
    
background-size: cover;
background-image: url("corner-vertical.jpg");
background-repeat: no-repeat;
background-color: #0c1a50;
color: #ffffff;
}
  

@media only screen and (min-width: 768px) {
body {  background-size: cover;
        background-image: url("corner.jpg");
        background-color: #0c1a50;
    }
}

h1 {
    font-family: "Circular-Bold", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    font-size: 40px;
    margin-top: 40px;
    vertical-align: 40%;
    color: #ffffff;

}
hr {
    background-color: #dee1e5;
}