html {
    height: 100%
}

body {
    
background-size: cover;
background-image: url("./images/corner-vertical.jpg");
background-repeat: no-repeat;
background-color: #0c1a50;
color: #ffffff;
}
  

@media only screen and (min-width: 768px) {
body {  background-size: cover;
        background-image: url("./images/corner.jpg");
        background-color: #0c1a50;
    }
}

h1 {
    font-family: "Circular-Bold", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    font-size: 40px;
    margin-top: 40px;
    vertical-align: 40%;
    color: #ffffff;

}
hr {
    background-color: #dee1e5;
} 

.hidden {
  visibility: hidden;
}
input[type=range] {
    width: 100%;
    margin: 8.4px 0;
    background-color: transparent;
    -webkit-appearance: none;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    background: rgba(255, 255, 254, 0.5);
    border: 1.5px solid rgba(1, 1, 1, 0);
    border-radius: 1.3px;
    width: 100%;
    height: 0.2px;
    cursor: pointer;
  }
  input[type=range]::-webkit-slider-thumb {
    margin-top: -9.9px;
    width: 17px;
    height: 17px;
    background: #ffffff;
    border: 1px solid #000000;
    border-radius: 50px;
    cursor: pointer;
    -webkit-appearance: none;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ffffff;
  }
  input[type=range]::-moz-range-track {
    background: rgba(255, 255, 254, 0.5);
    border: 1.5px solid rgba(1, 1, 1, 0);
    border-radius: 1.3px;
    width: 100%;
    height: 0.2px;
    cursor: pointer;
  }
  input[type=range]::-moz-range-thumb {
    width: 17px;
    height: 17px;
    background: #ffffff;
    border: 1px solid #000000;
    border-radius: 50px;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    background: transparent;
    border-color: transparent;
    border-width: 9.4px 0;
    color: transparent;
    width: 100%;
    height: 0.2px;
    cursor: pointer;
  }
  input[type=range]::-ms-fill-lower {
    background: #ffffac;
    border: 1.5px solid rgba(1, 1, 1, 0);
    border-radius: 2.6px;
  }
  input[type=range]::-ms-fill-upper {
    background: rgba(255, 255, 254, 0.5);
    border: 1.5px solid rgba(1, 1, 1, 0);
    border-radius: 2.6px;
  }
  input[type=range]::-ms-thumb {
    width: 17px;
    height: 17px;
    background: #ffffff;
    border: 1px solid #000000;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 0px;
    /*Needed to keep the Edge thumb centred*/
  }
  input[type=range]:focus::-ms-fill-lower {
    background: rgba(255, 255, 254, 0.5);
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #ffffff;
  }
  /*TODO: Use one of the selectors from https://stackoverflow.com/a/20541859/7077589 and figure out
  how to remove the virtical space around the range input in IE*/
  @supports (-ms-ime-align:auto) {
    /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
    input[type=range] {
      margin: 0;
      /*Edge starts the margin from the thumb, not the track as other browsers do*/
    }
  }
  